figure.about-pic {
    text-align: center;
}

.about-pic img {
    height: 70%;
    width: 70%;
}

.logo a {
    -webkit-transition: initial;
    transition: initial;
}

.logo a:hover {
    background-image: initial;
    text-shadow: initial;
    background-repeat: initial;
    background-size: initial;
    background-position: initial;
    transition: initial;
}